/* src/index.css */
* {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #000;
}

section {
  scroll-margin-top: 100px;
}

.background {
  position: fixed;
  inset: 0;
  background: url('/galaxy.jpg') center/cover no-repeat;
  animation: zoom 60s infinite alternate;
  z-index: -2;
}

@keyframes zoom {
  to {
    transform: scale(1.05);
  }
}

nav a:hover .underline {
  width: 100%;
}
